
    <header class="container-fluid">
    	<nav class="container mb-5">
			<ul class="nav">
			  <li class="nav-item">
			  	<a class="nav-link pl-0" href="/">Quotes</a>
			  </li>
			  <li ng-show="!user" class="nav-item">
			  	<a class="nav-link" href="/register">Register</a>
			  </li>
			  <li ng-show="!user" class="nav-item">
			  	<a class="nav-link" href="/login">Login</a>
			  </li>
			  <li ng-show="user" class="nav-item">
			  	<a class="nav-link" href="/my-quotes">My quotes</a>
			  </li>
			  <li ng-show="user" class="nav-item float-right">
			  	<small class="hidden-sm-down">logged in as {{user.email}}</small><a class="nav-link" href="/logout">Logout</a>
			  </li>
			</ul>
		</nav>
		<div ng-show="warning && warning !== ''" class="alert alert-warning py-1" role="alert">
		  <p class="container mb-0">
		  	{{warning}}
		  </p>
		</div>
	</header>