<div class="container">
  <div class="row">
    <h3 class="col-12">Your quotes</h3>
    <ul ng-repeat="list in user.lists" class="col-12 col-lg-4">
      <span class="btn">{{list.category}}</span>
      <li ng-init="visible = true" ng-hide="!visible" ng-repeat="quote in list.quotes" class="card py-2 px-3 mb-3 text-justify">
        <blockquote>{{quote.quote}}</blockquote>
        <em class="text-right">
          <button ng-click="visible = false; removeQuote(list.category,quote._quote_id,quote.quote)" class="btn btn-sm btn-outline-danger">X</button>
          - {{quote.author}}
        </em>
      </li>
    </ul>
  </div>
</div>