<div class="container">
  <div class="row">
    <div id="quote" class="col-12 col-md-8 offset-md-2">
      <blockquote ng-hide="newQuote !== ''"  class="text-center text-underline">
        <u>What kind of quote would you like?</u>
      </blockquote>
      <blockquote ng-hide="newQuote == ''" class="text-center">
        <span ng-bind-html="trustAsHtml(newQuote.quote)">"{{newQuote.quote}}"</span>
        <i ng-click="updateQuote(newQuote)" class="fa" ng-class="{'fa-star':saved,'fa-star-o':!saved}"></i>
      </blockquote>
      <em ng-hide="newQuote == ''" class="float-right">&mdash; {{newQuote.author}}</em>
    </div>
  </div><!-- .row -->
  <div class="row">
    <div id="buttons" class="py-3 col-12 text-center">
      <small class="text-center" ng-show="fetching">Fetching...</small>
      <button class="btn btn-outline-success mx-2" title="https://andruxnet-random-famous-quotes.p.mashape.com/?cat=movies&count=1" ng-click="getQuote('movies');" ng-show="!fetching">Movies</button>
      <button class="btn btn-outline-secondary mx-2" title="https://quotesondesign.com/wp-json/posts?filter[orderby]=rand&filter[posts_per_page]=1" ng-click="getQuote('misc');" ng-show="!fetching">Misc / Design</button>
      <button class="btn btn-outline-danger mx-2" title="https://api.whatdoestrumpthink.com/api/v1/quotes/random" ng-click="getQuote('trump');" ng-show="!fetching">Trump it!</button>
    </div>
  </div><!-- .row -->
</div><!-- .container -->